body {
    background-color:#bfbfbf;
}

.central {
    width: 80%;
    box-sizing: border-box;
    padding: 0;
    margin-left: 10%;
}

.ferramenta{
    background-color: #f2f2f2;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h1 {
    font-size: 40px;
}

.descricao {
    font-size: 22px;
}

.link-nome {
    font-size: 30px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.tag {
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
}

.formulario {
    background-color: #f2f2f2;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}