body {
    background-color:#bfbfbf;
}

.central {
    width: 80%;
    box-sizing: border-box;
    padding: 0;
    margin-left: 10%;
}

.ferramenta{
    background-color: #f2f2f2;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 25px;
}

.descricao {
    font-size: 22px;
}

.link-nome {
    font-size: 20px;
}

.tag {
    display: inline-block;
}